.footer{
    background: var(--gray-100);
    color: var(--orange-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description{
    margin-left: 30px;
    width: 33%;
    font-size: 0.75rem;
    text-align: center;
}

.redes{
    font-size: 0.8rem;
    width: 33%;
    padding: 3px;
    text-align: center;
}

.redes a{
    margin-right: 10px;
}

.logo{
    width: 15px;
}